.form {
    display: flex;
  }
  
  .form input {
    flex: 1; /* ë²„íŠ¼?„ ëº? ë¹? ê³µê°„?„ ëª¨ë‘ ì±„ì›Œì¤ë‹ˆ?‹¤ */
    font-size: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #f7e600;
  }
  
  .create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #f7e600;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .create-button:hover {
    background: #3bc9db;
  }