.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* Í∑∏Î¶º?ûê */ 
    margin: 0 auto; /* ?éò?ù¥Ïß? Ï§ëÏïô ?†ï?†¨ */
    margin-top: 4rem;
  }
  
  .title {
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    background: #f7e600;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #f7e600;
  }
  
  .todos-wrapper {
    min-height: 5rem;
  }